@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@font-face {
    font-family: 'BrandonGrotesque';
    src: url('../font/BrandonGrotesque-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'BrandonGrotesqueBold';
    src: url('../font/BrandonGrotesque-Bold.otf') format('opentype');
}


/*
Content
1-General
2-Components
3-index
4-static-pages
5-login-register
6-games
 */


/* ======================================== *\
                    GENERAL
\* ======================================== */

body {
    font-family: 'Montserrat', sans-serif;
}

a[titlex] {
    position: relative;
}

a[titlex]:hover::after {
    content: attr(titlex);
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #343891;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}


/* ======================================== *\
                    Components
\* ======================================== */

.btn-inline {
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 19.5px;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 40px;
    transition: all cubic-bezier(0.23, 1, 0.32, 1) .3s;
}

.btn-inline.left-arrow::before {
    content: '\f323';
    font-family: 'Font Awesome 5 Pro';
    left: 18px;
    position: absolute;
}

.btn-inline.right-arrow::before {
    content: '\f101';
    font-family: 'Font Awesome 5 Pro';
    right: 18px;
    position: absolute;
}

.btn-inline.icon {
    padding: 10px 13px !important;
}

.btn-inline.icon::before,
.btn-inline.icon::after {
    position: unset !important;
}

.color-yellow {
    background-color: #80F1B1;
    color: #343891;
}

.color-yellow.border {
    background-color: transparent;
    color: #80F1B1;
    border: 3px solid #80F1B1 !important;
}

.color-yellow.border:hover {
    color: white !important;
    background-color: #80F1B1;
}

.color-blue {
    background-color: #343891;
    color: #fff;
}

.color-blue.border {
    background-color: transparent;
    color: #343891;
    border: 3px solid #343891 !important;
}

.color-blue.border:hover {
    color: white !important;
    background-color: #343891;
}

.btn-inline:hover {
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
    color: inherit !important;
}

.btn-inline:active {
    box-shadow: unset;
    transform: unset;
}

.color-blue.border {
    background-color: transparent;
    color: #343891;
    border: 3px solid #343891 !important;
}

.color-blue.transparent {
    background-color: transparent;
    border: unset;
    color: #343891;
}

.color-yellow.transparent {
    background-color: transparent;
    border: unset;
    color: #80F1B1;
}

.transparent:hover,
.btn-disabled:hover {
    box-shadow: unset;
    transform: unset;
}

.color-yellow.btn-disabled {
    background-color: #EAEFEC;
    color: #A7B7AD;
}

.color-blue.btn-disabled {
    background-color: #EDEDF0;
    color: #B2B2BD;
}

.color-yellow.border.btn-disabled {
    background-color: transparent;
    color: #ECEEEF;
    border-color: #ECEEEF !important;
}

.color-blue.transparent.btn-disabled {
    background-color: transparent;
    color: #EDEDF0;
}

.color-yellow.transparent.btn-disabled {
    background-color: transparent;
    color: #EAEFEC;
}


/* ======================================== *\
                    index
\* ======================================== */


/* ======================================== *\
                    static-pages
\* ======================================== */


/* ======================================== *\
                    login-register
\* ======================================== */

p {
    font-family: 'BrandonGrotesque';
}

.pt-100 {
    padding-top: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-30 {
    margin-bottom: 30px;
}

.button-right-pos {
    display: flex;
    justify-content: flex-end;
}

.heading-primary {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #343891;
}

.heading-secondary {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #80F1B1;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.carousel-inner {
    max-height: 100vh;
}

.carouselIndicators {
    width: 100% !important;
    background-color: #FCF7F1;
    border-radius: 10px !important;
    height: 5px !important;
    transition: all .4s ease-in-out !important;
    top: 0px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 56, 145, 0.3);
}

.carouselIndicators.active {
    width: 100% !important;
    background-color: #80F1B1;
    border-radius: 10px !important;
    top: -20px;
    position: relative;
    height: 5px;
}

.popular-game {
    margin-top: 156px;
    margin-bottom: 150px;
}

.popular-game .card {
    width: 255px;
    height: 165px;
    color: #24265B;
    margin-bottom: 40px;
    border: 3px solid transparent;
    transition: all .2s ease-in-out !important;
}

.news-body {
    padding: 20px 60px 20px 0;
}

@media (max-width: 500px) {
    .popular-game .card {
        display: flex;
        align-items: center;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        width: 75vw;
        height: auto;
    }
}

.popular-game .card img {
    width: 255px;
    height: 165px;
}

.popular-game .card-title {
    bottom: 0px;
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    background-color: #80F1B1;
    border-radius: 20px !important;
    transform: translateY(50%);
    padding: 10px 20px;
}

.popular-game .card:hover {
    border: 3px solid #80F1B1;
    transform: translateY(-21px);
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
}

.owl-carousel .owl-stage-outer {
    padding: 20px 0px;
}

.owl-nav {
    display: none;
}

.title-area {
    border-bottom: #343891 3px solid;
    padding: 20px 0px;
    margin-bottom: 70px;
}

.title-area .button-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title-area .button-area a {
    text-decoration: none !important;
    color: #343891 !important;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.title-area .button-area button {
    height: 40px;
    width: 40px;
    background-color: #343891;
    border-radius: 50%;
    color: #FCF7F1;
    transition: all .3s ease-in-out !important;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: unset !important;
}

.title-area .button-area button:nth-child(1) {
    margin-right: 6px;
}

.title-area .button-area button i {
    font-size: 32px;
}

.title-area .button-area button:hover {
    background-color: #80F1B1;
}

.title-area .button-area button:hover i {
    color: #343891;
}

.site-header-area {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: transparent;
    transition: all ease-in-out .6s;
}

.sticky-header {
    background: #24265B;
    position: fixed;
    z-index: 9999;
    top: -100%;
    transition: top ease-in-out 1s;
}

.header-show {
    background: #24265B;
    position: fixed;
    z-index: 9999;
    top: 0%;
    transition: top ease-in-out .3s;
}

.site-logo img {
    width: 243px;
}

.site-header-area ul.nav-pills {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 60px;
    position: relative;
}

.site-header-area ul.nav-pills li {
    padding: 0px 20px;
}

.site-header-area ul.nav-pills li i {
    color: #FCF7F1;
}

.site-header-area ul.nav-pills li a {
    color: #FCF7F1;
    letter-spacing: 0.01em;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

.site-header-area ul.nav-pills li a.active {
    color: #80F1B1;
    background-color: transparent;
}

.site-header-area ul.nav-pills li a>span {
    color: #80F1B1;
}

.site-header-area ul.icon-area li .form-switch {
    transform: rotate(90deg);
}

.form-theme-switch input {
    display: none;
}

.form-theme-switch label {
    width: 26px;
    height: 40px;
    border: 1px solid #80f1b1;
    border-radius: 20px;
    padding: 2px;
}

.form-theme-switch label span {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: all ease-in-out .3s;
    padding: 5px;
    user-select: none;
}

.form-theme-switch label span img {
    position: absolute;
    width: 10px;
    height: 10px;
}

.form-theme-switch label span img:last-child {
    opacity: 0;
}

.form-theme-switch label input[type="checkbox"]:checked~span {
    background-color: #6C16FF;
    transform: translateY(13px);
}

.form-theme-switch label input[type="checkbox"]:checked~span img:last-child {
    opacity: 1;
}

.form-theme-switch label input[type="checkbox"]:checked~span img:first-child {
    opacity: 0;
}

.site-header-area ul.icon-area {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.site-header-area ul.icon-area li {
    padding: 0px 10px;
}

.site-header-area ul.icon-area li:last-child {
    padding-left: 10px;
    padding-right: 0;
}

.site-header-area ul.icon-area li:nth-child(1) a {
    border-radius: 50%;
    background: rgba(108, 22, 255, 0.7);
    width: 40px;
    height: 40px;
}

.site-header-area ul.icon-area li a {
    border-radius: 50%;
    background-color: rgba(128, 241, 177, 0.7);
    width: 40px;
    height: 40px;
    color: #FCF7F1;
}

.news {
    margin-bottom: 150px;
}

.news .card.h2x {
    border: unset;
}

.news .card.h1x {
    background-color: #343891;
    border-radius: 20px;
}

.news .card.h1x:hover {
    cursor: pointer;
}

.news .card.h2x img {
    width: 100%;
    border: 3px solid #80F1B1;
    border-radius: 20px;
}

.news .card.h1x img {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 100%;
}

.news .card.h2x .card-body .card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    text-indent: 10px;
    color: #24265B;
}

.news .card.h1x .card-body .card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    text-indent: 10px;
    color: #FCF7F1;
}

.btn-first {
    width: 100%;
    padding: 10px 30px;
    height: 40px;
    background: #80F1B1;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #24265B;
}

.comments {
    margin-bottom: 150px;
}

.comments .card {
    border: 3px solid #343891;
    border-radius: 20px;
    padding: 36px 45px;
}

.comments .card .card-body {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    text-indent: 10px;
    color: #343891;
    padding: 0;
    font-family: 'BrandonGrotesque';
}

.comments .card .card-footer {
    border-top: unset;
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    text-indent: 10px;
    color: #343891;
    padding: 0;
}

.comments .card .card-footer p {
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: 'BrandonGrotesqueBold';
}

.comments .card .collapseble {
    position: absolute;
    right: -10px;
    bottom: -20px;
    cursor: pointer;
    background-color: #343891;
    border-radius: 50%;
    color: #FCF7F1;
    transition: all .3s ease-in-out !important;
}

.comments .card .collapseble i {
    color: #FCF7F1;
    font-size: 36px;
}

.comments .row>*:nth-child(1n) {
    padding-left: unset;
}

.comments .row>*:nth-child(2n) {
    padding-right: unset;
}

footer {
    width: 100%;
    background-color: #343891;
    min-height: 40vh;
}

.footer-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-indent: 10px;
    color: #FCF7F1;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-family: 'Montserrat', sans-serif;
}

.footer-title span {
    border-bottom: 3px solid #FCF7F1;
    padding-bottom: 5px;
}

.footer-top-right ul {
    all: unset;
    list-style: none;
}

.footer-top-right ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-indent: 10px;
    color: #FCF7F1;
    padding: 6px 0px;
}

.footer-top-right ul li a {
    all: unset;
    cursor: pointer;
}

.footer-top-right ul li a:hover {
    color: #80F1B1;
}

.footer-top-left img.brand-logo {
    width: 240px;
    margin-bottom: 20px;
}

.footer-top-left p.copyright-text {
    display: block;
    color: white;
    font-family: 'BrandonGrotesque';
    font-size: 16px;
}

.footer-top-left ul.social-links {
    display: flex;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

.footer-top-left ul.social-links li {
    display: block;
    margin-right: 10px;
}

.footer-top-left ul.social-links li:last-child {
    margin-right: 0;
}

.footer-top-left ul.social-links li a {
    width: 30px;
    height: 30px;
    border: 1px solid #80F1B1;
    display: block;
    border-radius: 50%;
    text-align: center;
}

.footer-top-left ul.social-links li a i {
    font-size: 16px;
    color: #80F1B1;
    display: inline-block;
    line-height: 28px;
}

.footer-center {
    padding-top: 75px;
}

.footer-center p {
    font-size: 16px;
    color: white;
}

.footer-bottom {
    padding-top: 75px;
    padding-bottom: 90px;
}

.footer-bottom .payment-method {
    display: flex;
    justify-content: center;
}

.footer-bottom .payment-method span {
    width: 65px;
    height: 40px;
    display: inline-block;
    background-color: white;
    margin-right: 30px;
}

.footer-bottom .payment-method span:last-child {
    margin: 0;
}

section.login-page .form-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

section.login-page .form-wrapper .row {
    justify-content: center;
}

section.login-page .form-wrapper .form-container {
    width: 100%;
    max-width: 650px;
}

.form-brand-logo {
    display: flex;
    justify-content: center;
    max-width: 650px;
}

.form-brand-logo .center-logo {
    width: 190px;
    background-color: #343891;
    text-align: center;
    padding: 30px 0;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

.form-brand-logo .center-logo img {}

section.login-page .login-register-buttons {
    margin: 0 -20px;
    margin-bottom: 20px;
}

section.login-page .login-register-buttons a {
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #343891;
    text-decoration: none;
}

section.login-page .login-register-buttons a.thisPage {
    color: #D9D9D9;
}

section.login-page .form-wrapper .form-container label {
    display: block;
    margin-bottom: 40px;
}

section.login-page .form-wrapper .form-container label a {
    float: right;
    font-family: 'BrandonGrotesque';
    color: #D9D9D9;
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
}

section.login-page .form-wrapper .form-container label input {
    width: 100%;
    border: 3px solid #D9D9D9;
    border-radius: 20px;
    font-family: 'BrandonGrotesque';
    font-size: 25px;
    line-height: 36px;
    padding: 10px 20px;
    color: #D9D9D9;
}

section.login-page .form-wrapper .form-container label input[type=checkbox] {
    width: 28px;
    height: 28px;
}

section.login-page .form-wrapper .form-container label input[type=checkbox]~span {
    display: inline-block;
    font-family: 'BrandonGrotesque';
    font-size: 16px;
    line-height: 20px;
    margin-left: 12px;
}

section.login-page .form-wrapper .form-container form button[type=submit] {
    display: block;
    width: 100%;
    padding: 16px 0;
    font-size: 25px;
    line-height: 30px;
    font-weight: 900;
    background-color: #343891;
    color: white;
    border-radius: 20px;
    border: none;
}

section.login-page .form-wrapper .form-container form .col-two label {
    width: calc(50% - 10px)
}

.kvkk-text {}

.kvkk-text p {
    font-family: 'BrandonGrotesque';
    font-size: 14px;
    color: #A0A0A0;
    max-width: 445px;
    width: 100%;
    display: inline-block;
    margin-top: 40px;
}

.kvkk-text p span {
    font-family: 'BrandonGrotesqueBold';
}

.form-info {
    margin: 30px 0;
}

.form-info figure {
    background-color: #80F1B1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    padding: 20px 20px 20px 0;
}

.form-info figure i {
    width: 80px;
    height: 80px;
    background-color: #343891;
    color: white;
    font-size: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    margin-left: -40px;
}

.form-info figure p {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    color: #343891;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.form-info figure ul {
    margin: 0;
    flex-grow: 2;
}

.form-info figure ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #343891;
}


/*---MEGAMENU--*/

header ul.sub-mega-menu {
    position: absolute;
    width: 100%;
    display: inline-block;
    background-color: white;
    left: 0;
    border-radius: 11px;
    box-shadow: 0 0 0 0 black;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
    visibility: hidden;
}

header ul.sub-mega-menu .mega-menu-container {}

header ul.sub-mega-menu .sub-menu-category {}

header ul.sub-mega-menu .sub-menu-category h4 {
    font-size: 14px;
    font-weight: 700;
}

header ul.sub-mega-menu .sub-menu-category .menu-sub-category {}

header ul.sub-mega-menu .sub-menu-category .menu-sub-category a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

header ul.sub-mega-menu .sub-menu-category .menu-sub-category ul {
    /* display: list-item; */
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul.sub-mega-menu .sub-menu-category .menu-sub-category ul li {
    display: inline-block;
    padding: 0;
}

header ul.sub-mega-menu .sub-menu-category .menu-sub-category ul li::after {
    content: ',';
}

header ul.sub-mega-menu .sub-menu-category .menu-sub-category ul li:last-child::after {
    content: none;
}

header ul.sub-mega-menu .sub-menu-category .menu-sub-category ul li a {
    font-size: 12px;
    font-weight: 500;
}


/*---MEGAMENU END--*/


/* ======================================== *\
                    games
\* ======================================== */

section.game {
    padding-top: 140px;
}

.game-card {
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 2rem;
    height: calc(100% - 2rem);
    transition: all cubic-bezier(.71, .81, .18, 1.64) .25s;
}

.game-card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0px 20px 20px -20px #00000045;
}

.game-card figure {
    margin: 0;
    overflow: hidden;
    border-radius: 0 0 40px 0px;
}

.game-card figure img {
    width: 100%;
    transition: all ease-in-out 2s;
}

.game-card .game-card-description {
    padding: 0 0;
}

.game-card .game-card-description .title-button {
    transform: translateY(-50%);
    border-radius: 40px 0px 40px 40px;
}

.game-card .game-card-description p {
    padding: 0 20px 30px 20px;
    margin: 0;
}